---
---
@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-image: none;
  background-color: #106eb8;

  h1 {
    font-size: 2rem;
    margin: 0;

    img {
      height: 4rem;
    }
  }

  h2 {
    margin: 0;
  }
}

.breadcrumb {
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;

    &:after {
      font-family: FontAwesome;
      content: '\f0da';
      padding: 0 4px;
      color: #72a1f7;
    }

    &:last-child:after {
      content: '';
    }

    a {
      text-decoration: none;
      color: #72a1f7;
      display: inline-block;
      padding: 3px 10px;
      border-radius: 15px;
      background: #c6e2ff;
      font-size: 0.9em;

      &:hover {
        background: #c9dbfb;
      }
    }

  }

}

.main-content {
  .content {
    img {
      border-radius: .5rem;
      padding: 1rem;
      border: 1px solid #eee;
    }
    h1 {
      font-weight: bold;
      margin: 2rem 0 2rem 0;
    }
    h2 {
      font-weight: bold;
      margin: 3rem 0 2rem 0;
    }
    h3 {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
    }
  }
}

.site-footer {
  text-align: center;
}
